"*":
  "exception-reporting":
    userId: "44048cfb-4890-b4a9-ea94-754b28c3f60f"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "background-tips"
      "go-to-line"
      "image-view"
      "language-clojure"
      "language-go"
      "language-toml"
      "language-yaml"
      "link"
      "minimap"
    ]
    ignoredNames: [
      ".git"
      "*.meta"
      ".svn"
      ".DS_STORE"
    ]
    themes: [
      "nucleus-dark-ui"
      "one-dark-syntax"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-selected"
    ]
    followSymlinks: false
  editor:
    invisibles: {}
    fontFamily: "Monaco"
    tabType: "soft"
    fontSize: 13
    scrollPastEnd: true
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
  "vim-mode": {}
  "linter-php": {}
  linter: {}
  "fuzzy-finder":
    ignoredNames: [
      "*.html"
      "tags"
      ".meta"
      "*.prefab"
      "*.asset"
      "*.unity"
      "*.controller"
      "*.anim"
      "*.psd"
      "*.pdf"
      ".DS_Store"
      "*.rtf"
      "*.mat"
      "*.png"
      "*.git*"
      "*.sln"
      "*.csproj"
      "*.unityproj"
      "*.user"
      "*.userprefs"
      "Library/*"
      "Temp/*"
      "*.txt"
      "*.cginc"
    ]
    useAlternateScoring: true
  tabs: {}
  "one-dark-ui": {}
  minimap: {}
  "lazy-motion": {}
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "tree-view":
    hideIgnoredNames: true
  "autocomplete-plus": {}
  "git-plus": {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  "project-manager":
    environmentSpecificProjects: true
  "highlight-selected": {}
".html.php.text":
  "wrapper-snippets":
    if:
      name: "if"
      body: '''
        if (${cursor}) {
        ${selection, indent:1}
        }
      '''
  whitespace:
    removeTrailingWhitespace: false
".coffee.source":
  "wrapper-snippets":
    if:
      name: "if"
      body: '''
        if ${cursor}
        ${selection, indent:1}
      '''
".cs.source":
  "wrapper-snippets":
    if:
      name: "if"
      body: '''
        if (${cursor}) {
        ${selection, indent:1}
        }
      '''
    namespace:
      name: "namespace"
      body: '''
        namespace ${cursor} {
        ${selection, indent:1}
        }
      '''
  editor:
    tabLength: 4
".nant-build.source":
  editor:
    tabLength: 4
".cake.source":
  editor:
    tabLength: 4
