"*":
  "exception-reporting":
    userId: "44048cfb-4890-b4a9-ea94-754b28c3f60f"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    invisibles: {}
