"*":
  "autocomplete-plus": {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  core:
    closeEmptyWindows: false
    disabledPackages: [
      "background-tips"
      "go-to-line"
      "image-view"
      "language-clojure"
      "language-go"
      "language-toml"
      "language-yaml"
      "link"
      "autocomplete-paths"
      "vim-mode-plus-subword-movement"
      "vim-mode-plus"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      "*.meta"
      ".svn"
      ".DS_STORE"
      "Build"
    ]
    packagesWithKeymapsDisabled: [
      "highlight-selected"
    ]
  editor:
    fontFamily: "Monaco"
    fontSize: 13
    invisibles: {}
    scrollPastEnd: true
    tabType: "soft"
  "exception-reporting":
    userId: "44048cfb-4890-b4a9-ea94-754b28c3f60f"
  "find-and-replace":
    openProjectFindResultsInRightPane: true
  "fuzzy-finder":
    ignoredNames: [
      "*.html"
      "tags"
      ".meta"
      "*.prefab"
      "*.asset"
      "*.unity"
      "*.controller"
      "*.anim"
      "*.psd"
      "*.pdf"
      ".DS_Store"
      "*.rtf"
      "*.mat"
      "*.png"
      "*.git*"
      "*.sln"
      "*.csproj"
      "*.unityproj"
      "*.user"
      "*.userprefs"
      "Library/*"
      "Temp/*"
      "*.txt"
      "*.cginc"
    ]
    useAlternateScoring: true
  "git-plus": {}
  "highlight-selected": {}
  "lazy-motion": {}
  linter: {}
  "linter-php": {}
  minimap: {}
  "one-dark-ui": {}
  "project-manager":
    environmentSpecificProjects: true
  tabs: {}
  "tree-view":
    hideIgnoredNames: true
  "vim-mode":
    useClipboardAsDefaultRegister: false
  "vim-mode-plus":
    flashOnUndoRedo: true
    highlightSearch: true
    incrementalSearch: true
    showHoverOnOperate: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnCurrentLine: false
".cake.source":
  editor:
    tabLength: 4
".coffee.source":
  tabLength: 2
  "wrapper-snippets":
    if:
      body: '''
        if ${cursor}
        ${selection, indent:1}
      '''
      name: "if"
".cs.source":
  editor:
    tabLength: 4
  "wrapper-snippets":
    for:
      body: '''
        for (${cursor}) {
        ${selection, indent:1}
        }
      '''
      name: "for"
    if:
      body: '''
        if (${cursor}) {
        ${selection, indent:1}
        }
      '''
      name: "if"
    namespace:
      body: '''
        namespace ${cursor} {
        ${selection, indent:1}
        }
      '''
      name: "namespace"
".html.php.text":
  editor:
    tabLength: 2
  whitespace:
    removeTrailingWhitespace: false
  "wrapper-snippets":
    if:
      body: '''
        if (${cursor}) {
        ${selection, indent:1}
        }
      '''
      name: "if"
".litcoffee.source":
  editor:
    tabLength: 4
".nant-build.source":
  editor:
    tabLength: 4
