### UN-MAPPINGS ###
'atom-workspace atom-text-editor:not([mini])':
  'cmd-j': 'lazy-unity-helper:jump-to-definition'

### MAPPINGS ###
'body':
  'ctrl-[': 'core:cancel'
  
'atom-workspace':
  'ctrl-cmd-h': 'history-tracker:go-backwards-in-history'
  'ctrl-cmd-l': 'history-tracker:go-forward-in-history'

'atom-text-editor.vim-mode:not(.insert-mode)':
  # I use cmd-(1-9) to switch between commonly used applications so remap folding to space N
  'space 0': 'editor:unfold-all'
  'space 1': 'editor:fold-at-indent-level-1'
  'space 2': 'editor:fold-at-indent-level-2'
  'space 3': 'editor:fold-at-indent-level-3'
  'space 4': 'editor:fold-at-indent-level-4'
  'space 5': 'editor:fold-at-indent-level-5'
  
  'space f': 'editor:toggle-current-row-folding'
  
  # Move panes
  'space l': 'pane:show-next-item'
  'space h': 'pane:show-previous-item'
  
  # Bookmarks
  'space m': 'bookmarks:view-all'
  'm': 'bookmarks:toggle-bookmark'
  'shift-cmd-m': 'bookmarks:clear-bookmarks'
  
  # Lazy-motion
  's': 'lazy-motion:forward'
  
  'shift-tab': 'snippets:next-tab-stop'
 
'.platform-darwin atom-text-editor.lazy-motion[mini]':
  ']':      'lazy-motion:forward'
  '[':      'lazy-motion:backward'
  ';':      'core:confirm'
  'ctrl-g': 'core:cancel'
