### UN-MAPPINGS ###
  
### MAPPINGS ###
'atom-text-editor.vim-mode.insert-mode':
  'j k': 'vim-mode:activate-normal-mode'
  
# remap cmd-shift-o to fuzzy finder, just preference
'.platform-darwin':
  'shift-cmd-o': 'fuzzy-finder:toggle-file-finder'

'atom-text-editor.vim-mode:not(.insert-mode)':
  # remap panes to use space shift-hjkl
  'ctrl-shift-cmd-h': 'pane:split-left'
  'ctrl-shift-cmd-j': 'pane:split-down'
  'ctrl-shift-cmd-k': 'pane:split-up'
  'ctrl-shift-cmd-l': 'pane:split-right'
  
  # navigate panes by using space hjkl
  'ctrl-cmd-h': 'window:focus-pane-on-left'
  'ctrl-cmd-j': 'window:focus-pane-below'
  'ctrl-cmd-k': 'window:focus-pane-above'
  'ctrl-cmd-l': 'window:focus-pane-on-right'
  
  # I use cmd-(1-9) to switch between commonly used applications so remap folding to space N
  'space 0': 'editor:unfold-all'
  'space 1': 'editor:fold-at-indent-level-1'
  'space 2': 'editor:fold-at-indent-level-2'
  'space 3': 'editor:fold-at-indent-level-3'
  'space 4': 'editor:fold-at-indent-level-4'
  'space 5': 'editor:fold-at-indent-level-5'
  
  'space f': 'editor:toggle-current-row-folding'
  
  # Move panes
  'space l': 'pane:show-next-item'
  'space h': 'pane:show-previous-item'
  
  # Bookmarks
  'space m': 'bookmarks:view-all'
  'm': 'bookmarks:toggle-bookmark'
  'shift-cmd-m': 'bookmarks:clear-bookmarks'
  
  # go to declaration
  'cmd-j': 'symbols-view:go-to-declaration'
  
  # Lazy-motion
  'space s': 'lazy-motion:forward'
  
  'shift-tab': 'snippets:next-tab-stop'
 
'.platform-darwin atom-text-editor.lazy-motion[mini]':
  ']':      'lazy-motion:forward'
  '[':      'lazy-motion:backward'
  ';':      'core:confirm'
  'ctrl-g': 'core:cancel'
