g2_dev:
  title: "Dolphin"
  paths: [
    "/Users/darren/Projects/storm8/phpdev"
    "/Users/darren/Projects/storm8/g2_dev"
  ]
dragon2:
  title: "server-dragon2"
  paths: [
    "/Users/darren/Projects/storm8/phpdev"
    "/Users/darren/Projects/storm8/g2_dev/base"
    "/Users/darren/Projects/storm8/g2_dev/dragon2"
  ]
casual:
  title: "Casual"
  paths: [
    "/Users/darren/Projects/storm8/casualdev"
    "/Users/darren/Projects/storm8/phpdev"
  ]
"iphonedev-dragon2":
  title: "iphonedev-dragon2"
  paths: [
    "/Users/darren/Projects/storm8/iphonedev/dolphin/dragon2"
    "/Users/darren/Projects/storm8/iphonedev/dolphin/base"
    "/Users/darren/Projects/storm8/iphonedev/base"
  ]
"iphonedev-dragon2-1.0":
  title: "iphonedev-dragon2-1.0"
  paths: [
    "/Users/darren/Projects/storm8/iphonedev-Dragon2-1.0"
  ]
lazyunityhelper:
  title: "LazyUnityHelper"
  paths: [
    "/Users/darren/Documents/Coding/lazy-unity-helper/"
  ]
historytracker:
  title: "HistoryTracker"
  paths: [
    "/Users/darren/Documents/Coding/AtomPackages/history-tracker/"
  ]
"selection-wrapper":
  title: "Selection-Wrapper"
  paths: [
    "/Users/darren/Documents/Coding/AtomPackages/selection-wrapper"
  ]
beaky:
  title: "beaky"
  paths: [
    "/Users/darren/Projects/storm8/beaky"
  ]
jsonanimationparser:
  title: "JSONAnimationParser"
  paths: [
    "/Users/darren/Documents/Coding/storm8unity/json-animation-parser/JSONAnimationParser"
  ]
bakery2:
  title: "bakery2"
  paths: [
    "/Users/darren/Projects/storm8/bakery2"
    "/Users/darren/Projects/storm8/s8unity_shared"
  ]
"server-bakery2":
  title: "server-bakery2"
  paths: [
    "/Users/darren/Projects/storm8/phpdev"
    "/Users/darren/Projects/storm8/g2_dev/base"
    "/Users/darren/Projects/storm8/g2_dev/bakery2"
    "/Users/darren/Projects/storm8/g2_dev/restaurant2"
  ]
"bingo-server":
  title: "bingo - server"
  paths: [
    "/Users/darren/Projects/storm8/casualdev/bingo"
    "/Users/darren/Projects/storm8/casualdev/base"
    "/Users/darren/Projects/storm8/phpdev"
  ]
"bingounity-server":
  title: "bingounity - server"
  paths: [
    "/Users/darren/Projects/storm8/casualdev/bingounity"
    "/Users/darren/Projects/storm8/casualdev/base"
    "/Users/darren/Projects/storm8/phpdev"
  ]
bingo_unity:
  title: "bingo_unity"
  paths: [
    "/Users/darren/Projects/storm8/s8unity_shared"
    "/Users/darren/Projects/storm8/bingo"
  ]
