# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it here:
# https://github.com/bevry/cson#what-is-cson

# Storm8 Snippets
'.text.html.php':
  'debugLog':
    'prefix': 'log'
    'body': 'debugLog("$1: ".\$$1, false);'
  'debugLogVar':
    'prefix': 'logVar'
    'body': 'debugLogVar(\$$1, "$1", false);'
  'callStack':
    'prefix': 'callStack'
    'body': 'debugLog(getCallStack(), false);'
    
  # reminders for myself to use the snippets
  'Snippets \'log\'/\'logVar\'!':
    'prefix': 'debugLog'
    'body': 'lo'
  
# Unity Snippets
'.source.cs':
  'deltaTime':
    'prefix': 'dt'
    'body': 'Time.deltaTime'
    
  'Debug.Log':
    'prefix': 'log'
    'body': 'Locator.Logger.Log("$1");'
    
  'Debug.LogVariable':
    'prefix': 'logVariable'
    'body': 'Locator.Logger.Log("$1: " + $1);'
    
  'Debug.LogWarning':
    'prefix': 'logWarn'
    'body': 'Locator.Logger.LogWarning("$1");'
    
  'Debug.LogError':
    'prefix': 'logError'
    'body': 'Locator.Logger.LogError("$1");'
    
  'Pragma Mark':
    'prefix': 'pragma'
    'body': '// PRAGMA MARK - $1'
    
  'Method':
    'prefix': 'm'
    'body': '${1:protected} ${2:void} ${3:Method}($4) {\n\t$5\n}'
    
  'Virtual Method':
    'prefix': 'vm'
    'body': '${1:protected} virtual ${2:void} ${3:Method}($4) {\n\t$5\n}'
    
  'Property':
    'prefix': 'prop'
    'body': """
      ${1:public} ${2:string} ${3:Property} {
        ${4:get {}
        ${5:set {}
      }
      """
  